$blue: #2850a0;
$rose: #e5004f;
$hardGrey: #333333;
$grey: #818181;
$lightGrey: #b9b9b9;

@font-face {
    font-family: 'Pragmatica Book';
    src: url('../fonts/pragmatika/book/Pragmatica Book.eot');
    src: url('../fonts/pragmatika/book/Pragmatica Book.woff2') format('woff2'),
    url('../fonts/pragmatika/book/Pragmatica Book.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pragmatica';
    src: url('../fonts/pragmatika/book/Pragmatica.woff') format('woff'),
    url('../fonts/pragmatika/book/Pragmatica.ttf') format('truetype'),
    url('../fonts/pragmatika/book/Pragmatica.svg#Pragmatica') format('svg');
    font-weight: normal;
    font-style: normal;
}

body, html{
    height: 100%;
}
body{
    font-family: 'Pragmatica', sans-serif;
    background: url("../files/default/bg.jpg") no-repeat fixed center center / cover;
}
.wrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -190px;
}

/* TOP STRING */
.top-string{
    background-color: $hardGrey;
    color: #ffffff;
    .top-address{
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .left-phone{
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .right-phone{
        padding-top: 7px;
        padding-bottom: 7px;
    }
    .measure{
        a{
            display: block;
            width: 100%;
            background-color: $blue;
            color: #ffffff;
            text-align: center;
            padding-top: 7px;
            padding-bottom: 7px;
            font-weight: bold;
        }
    }
}

/* HEADER */
.header{
    background-color: #eef2fa;
    padding-top: 15px;
    .logo{
        div{
            padding-left: 15px;
            padding-right: 15px;
            img{
                margin: auto;
            }
        }
    }
    .header-banner{
        font-size: 18px;
        font-weight: bold;
        color: $lightGrey;
        .cart{
            color: #000;
        }
    }
    .header-right{
        div:first-child{
            margin-bottom: 5px;
            img{
                display: block;
                float: left;
                margin: 5px 0 5px 14px;
            }
        }
        div:last-child{
            a{
                display: block;
                width: 100%;
                background-color: $blue;
                color: #ffffff;
                text-align: center;
                padding-top: 7px;
                padding-bottom: 7px;
                font-weight: bold;
            }
        }
    }
}


/* TOP-MENU */
.top-menu{
    margin-bottom: -5px;
    .navbar.navbar-default{
        background-color: transparent;
        border: none;
        border-radius: 0;
        margin-bottom: 0;
        .collapse.navbar-collapse{
            padding-left: 0;
            padding-right: 0;
            .nav.nav-justified{
                li{
                    a{
                        background-color: $rose;
                        color: #ffffff;
                        font-size: 18px;
                        &:hover, &:focus, &.active{
                            background-color: $blue;
                        }
                    }
                }
            }
        }
    }
}


/* CONTENT */
.main-content{
    background-color: #fff;
}
.slider{
    .carousel.fade{
        opacity: 1;
    }
    .carousel.fade .item{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        opacity: 0;
        transition: opacity .99s;
    }
    .carousel.fade .item.active{
        position: relative;
        opacity: 1;
    }
}
/*.down-menu{
    .navbar.navbar-default{
        background-color: transparent;
        border: none;
        border-radius: 0;
        min-height: 42px;
        .collapse.navbar-collapse{
            padding-left: 0;
            padding-right: 0;
            .nav.nav-justified{
                li{
                    a{
                        background-color: $rose;
                        color: #ffffff;
                        font-weight: bold;
                        font-size: 16px;
                        border: none;
                        border-radius: 0;
                        &:hover, &.active, &:focus{
                            background-color: $hardGrey;
                        }
                    }
                }
            }
        }
    }
}*/
.stocks-block{
    .row{
        margin-left: 15px;
        margin-right: 15px;
        .col-sm-4{
            h2{
                font-size: 24px;
                font-weight: bold;
                color: $hardGrey;
            }
            a{
                font-size: 18px;
                color: $rose;
                display: block;
                margin-top: 25px;
            }
        }
        .col-sm-3{
            margin-bottom: 15px;
            a{
                color: $rose;
                h4{
                    font-size: 20px;
                    min-height: 40px;
                    margin-bottom: 10px;
                }
            }
            .start{
                color: $lightGrey;
            }
            .stock-summary{
                height: 150px;
                overflow-y: auto;
                margin-bottom: 10px;
            }
        }
    }
}
.doors-image{
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}
.company{
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    h2{
        font-size: 24px;
        font-weight: bold;
        color: $hardGrey;
    }
    p{
        a{
            font-size: 16px;
            color: $rose;
            font-weight: bold;
        }
    }
}
.article-index, .stock-page, .stock-node{
    margin-bottom: 35px;
    padding-right: 15px;
}
.sidebar-menu{
    margin-top: 25px;
    .nav.nav-pills{
        li{
            a{
                background-color: $blue;
                color: #ffffff;
                font-size: 16px;
                font-weight: bold;
                &:hover, &:focus, &.active{
                    background-color: $rose;
                }
            }
        }
    }
}
div.required label:after {
    content: " *";
    color: red;
}

.aside-menu{
    margin-top: 35px;
    margin-bottom: 15px;
    ul{
        list-style: outside none none;
        padding-left: 0;
        li{
            margin-bottom: 2px;
            & a.active, & a:hover, & a:focus{
                background-color: $rose;
                border: 1px solid $rose;
                border-radius: 4px 4px 0 0;
                i{
                    color: $hardGrey;
                }
            }
            & ul{
                li{
                    & a.active, & a:hover, & a:focus{
                        border-radius: 0;
                    }
                    & ul{
                        li{
                            & ul{
                                li{
                                    a{
                                        text-transform: none;
                                        font-weight: bold;
                                        padding: 10px 15px 10px 65px;
                                    }
                                }
                            }
                            a{
                                font-size: 12px;
                                text-transform: uppercase;
                                padding:  10px 15px 10px 45px;
                            }
                        }
                    }
                    margin-bottom: 0;
                    a{
                        font-weight: normal;
                        border-radius: 0;
                        font-size: 14px;
                        padding: 10px 15px 10px 25px;
                    }
                }
            }
            a{
                padding: 10px 15px;
                background-color: $blue;
                color: #ffffff;
                font-weight: bold;
                font-size: 16px;
                border: 1px solid $blue;
                border-radius: 4px;
                display: block;
                position: relative;
            }
        }
    }
}
.subcategories{
    .panel-body{
        .row{
            .col-sm-3{
                padding: 10px;
                div{
                    border: 1px solid $grey;
                    border-radius: 5px;
                    padding:  10px 15px;
                    height: 60px;
                    -ms-word-break: break-all;
                    word-break: break-all;
                }
            }
        }
    }
}

.product-panel{
    .product-layout{
        height: 370px;
        .product-image{
            img{
                margin: 0 auto 7px;
            }
        }
        .product-caption{
            .product-caption-name{
                margin-bottom: 5px;
                h4{
                    height: 45px;
                }
            }
            .product-caption-description{
                font-size: 13px;
                height: 55px;
                margin-bottom: 5px;
            }
            .product-caption-price{
                font-size: 24px;
                color: $hardGrey;
                font-weight: bold;
            }
        }
    }
}

.catalog-product{
    .product-reviews{
        .row{
            margin-bottom: 15px;
            .price{
                font-size: 24px;
                color: $hardGrey;
                font-weight: bold;
            }
        }
    }
}
.alert-block{
    .alert{
        margin-bottom: 0!important;
    }
}
#cart{
    .dropdown-menu{
        width: 400%;
        right: -50%;
        .td-image{
            img{
                max-height: 50px;
            }
        }
    }
}
.td-image{
    img{
        max-height: 50px;
    }
}
.shopping-cart-index{
    padding-bottom: 15px;
}


/* FOOTER */
.footer-push{
    height: 190px;
}
.footer{
    height: 190px;
    .footer-top{
        background-color: $rose;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #ffffff;
        a{
            img{
                margin: auto;
            }
        }
    }
    .footer-bottom{
        background-color: $hardGrey;
        padding-top: 22px;
        padding-bottom: 22px;
        color: #ffffff;
    }
}


/* ADAPTIVE SETTINGS */
@media screen and (max-width: 1200px){
    .header .header-banner{
        font-size: 16px;
    }
    #cart .dropdown-menu{
        float: none!important;
        left: -150%;
    }
    .aside-menu ul li a{
        font-size: 14px;
    }
}

@media screen and (max-width: 993px){
    .header .header-banner{
        font-size: 11px;
    }
    .header .header-right div:first-child{
        font-size: 11px;
        img{
            max-width: 100%;
            height: 25px;
        }
    }
    .header .header-right div:last-child{
        input{
            height: 25px;
        }
        button{
            height: 25px;
        }
    }
    .top-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a{
        font-size: 16px;
    }
    .top-string{
        font-size: 10px;
    }
    .down-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a{
        font-size: 14px;
    }
    .subcategories .panel-body .row .col-sm-3 div{
        height: 75px;
    }
    .aside-menu ul li a{
        font-size: 10px;
    }
    .top-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a{
        font-size: 14px;
    }
    #cart .dropdown-menu{
        left: -145%;
        width: 355%;
    }
}

@media screen and (max-width: 768px){
    .footer-contact{
        text-align: center;
    }
    .top-string{
        font-size: 14px;
    }
    .down-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a{
        font-size: 16px;
    }
    .top-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a{
        font-size: 18px;
    }
    .navbar-toggle{
        background-color: #dddddd;
    }
    .aside-menu ul li a{
        font-size: 14px;
    }
    #cart .dropdown-menu{
        left: -10%;
        width: 355%;
    }
}