@font-face {
  font-family: 'Pragmatica Book';
  src: url("../fonts/pragmatika/book/Pragmatica Book.eot");
  src: url("../fonts/pragmatika/book/Pragmatica Book.woff2") format("woff2"), url("../fonts/pragmatika/book/Pragmatica Book.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Pragmatica';
  src: url("../fonts/pragmatika/book/Pragmatica.woff") format("woff"), url("../fonts/pragmatika/book/Pragmatica.ttf") format("truetype"), url("../fonts/pragmatika/book/Pragmatica.svg#Pragmatica") format("svg");
  font-weight: normal;
  font-style: normal; }
body, html {
  height: 100%; }

body {
  font-family: 'Pragmatica', sans-serif;
  background: url("../files/default/bg.jpg") no-repeat fixed center center/cover; }

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -190px; }

/* TOP STRING */
.top-string {
  background-color: #333333;
  color: #ffffff; }
  .top-string .top-address {
    padding-top: 7px;
    padding-bottom: 7px; }
  .top-string .left-phone {
    padding-top: 7px;
    padding-bottom: 7px; }
  .top-string .right-phone {
    padding-top: 7px;
    padding-bottom: 7px; }
  .top-string .measure a {
    display: block;
    width: 100%;
    background-color: #2850a0;
    color: #ffffff;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold; }

/* HEADER */
.header {
  background-color: #eef2fa;
  padding-top: 15px; }
  .header .logo div {
    padding-left: 15px;
    padding-right: 15px; }
    .header .logo div img {
      margin: auto; }
  .header .header-banner {
    font-size: 18px;
    font-weight: bold;
    color: #b9b9b9; }
  .header .header-right div:first-child {
    margin-bottom: 5px; }
    .header .header-right div:first-child img {
      display: block;
      float: left;
      margin: 5px 0 5px 14px; }
  .header .header-right div:last-child a {
    display: block;
    width: 100%;
    background-color: #2850a0;
    color: #ffffff;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold; }

/* TOP-MENU */
.top-menu {
  margin-bottom: -5px; }
  .top-menu .navbar.navbar-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 0; }
    .top-menu .navbar.navbar-default .collapse.navbar-collapse {
      padding-left: 0;
      padding-right: 0; }
      .top-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a {
        background-color: #e5004f;
        color: #ffffff;
        font-size: 18px; }
        .top-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a:hover, .top-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a:focus, .top-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a.active {
          background-color: #2850a0; }

/* CONTENT */
.main-content {
  background-color: #fff; }

.slider .carousel.fade {
  opacity: 1; }
.slider .carousel.fade .item {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: opacity .99s; }
.slider .carousel.fade .item.active {
  position: relative;
  opacity: 1; }

/*.down-menu{
    .navbar.navbar-default{
        background-color: transparent;
        border: none;
        border-radius: 0;
        min-height: 42px;
        .collapse.navbar-collapse{
            padding-left: 0;
            padding-right: 0;
            .nav.nav-justified{
                li{
                    a{
                        background-color: $rose;
                        color: #ffffff;
                        font-weight: bold;
                        font-size: 16px;
                        border: none;
                        border-radius: 0;
                        &:hover, &.active, &:focus{
                            background-color: $hardGrey;
                        }
                    }
                }
            }
        }
    }
}*/
.stocks-block .row {
  margin-left: 15px;
  margin-right: 15px; }
  .stocks-block .row .col-sm-4 h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333; }
  .stocks-block .row .col-sm-4 a {
    font-size: 18px;
    color: #e5004f;
    display: block;
    margin-top: 25px; }
  .stocks-block .row .col-sm-3 {
    margin-bottom: 15px; }
    .stocks-block .row .col-sm-3 a {
      color: #e5004f; }
      .stocks-block .row .col-sm-3 a h4 {
        font-size: 20px;
        min-height: 40px;
        margin-bottom: 10px; }
    .stocks-block .row .col-sm-3 .start {
      color: #b9b9b9; }
    .stocks-block .row .col-sm-3 .stock-summary {
      height: 150px;
      overflow-y: auto;
      margin-bottom: 10px; }

.doors-image {
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px; }

.company {
  margin-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px; }
  .company h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333333; }
  .company p a {
    font-size: 16px;
    color: #e5004f;
    font-weight: bold; }

.article-index, .stock-page, .stock-node {
  margin-bottom: 35px;
  padding-right: 15px; }

.sidebar-menu {
  margin-top: 25px; }
  .sidebar-menu .nav.nav-pills li a {
    background-color: #2850a0;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold; }
    .sidebar-menu .nav.nav-pills li a:hover, .sidebar-menu .nav.nav-pills li a:focus, .sidebar-menu .nav.nav-pills li a.active {
      background-color: #e5004f; }

div.required label:after {
  content: " *";
  color: red; }

.aside-menu {
  margin-top: 35px;
  margin-bottom: 15px; }
  .aside-menu ul {
    list-style: outside none none;
    padding-left: 0; }
    .aside-menu ul li {
      margin-bottom: 2px; }
      .aside-menu ul li a.active, .aside-menu ul li a:hover, .aside-menu ul li a:focus {
        background-color: #e5004f;
        border: 1px solid #e5004f;
        border-radius: 4px 4px 0 0; }
        .aside-menu ul li a.active i, .aside-menu ul li a:hover i, .aside-menu ul li a:focus i {
          color: #333333; }
      .aside-menu ul li ul li {
        margin-bottom: 0; }
        .aside-menu ul li ul li a.active, .aside-menu ul li ul li a:hover, .aside-menu ul li ul li a:focus {
          border-radius: 0; }
        .aside-menu ul li ul li ul li ul li a {
          text-transform: none;
          font-weight: bold;
          padding: 10px 15px 10px 65px; }
        .aside-menu ul li ul li ul li a {
          font-size: 12px;
          text-transform: uppercase;
          padding: 10px 15px 10px 45px; }
        .aside-menu ul li ul li a {
          font-weight: normal;
          border-radius: 0;
          font-size: 14px;
          padding: 10px 15px 10px 25px; }
      .aside-menu ul li a {
        padding: 10px 15px;
        background-color: #2850a0;
        color: #ffffff;
        font-weight: bold;
        font-size: 16px;
        border: 1px solid #2850a0;
        border-radius: 4px;
        display: block;
        position: relative; }

.subcategories .panel-body .row .col-sm-3 {
  padding: 10px; }
  .subcategories .panel-body .row .col-sm-3 div {
    border: 1px solid #818181;
    border-radius: 5px;
    padding: 10px 15px;
    height: 60px; }

.product-panel .product-layout {
  height: 370px; }
  .product-panel .product-layout .product-image img {
    margin: 0 auto 7px; }
  .product-panel .product-layout .product-caption .product-caption-name {
    margin-bottom: 5px; }
    .product-panel .product-layout .product-caption .product-caption-name h4 {
      height: 45px; }
  .product-panel .product-layout .product-caption .product-caption-description {
    font-size: 13px;
    height: 55px;
    margin-bottom: 5px; }
  .product-panel .product-layout .product-caption .product-caption-price {
    font-size: 24px;
    color: #333333;
    font-weight: bold; }

.catalog-product .product-reviews .row {
  margin-bottom: 15px; }
  .catalog-product .product-reviews .row .price {
    font-size: 24px;
    color: #333333;
    font-weight: bold; }

/* FOOTER */
.footer-push {
  height: 190px; }

.footer {
  height: 190px; }
  .footer .footer-top {
    background-color: #e5004f;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff; }
    .footer .footer-top a img {
      margin: auto; }
  .footer .footer-bottom {
    background-color: #333333;
    padding-top: 22px;
    padding-bottom: 22px;
    color: #ffffff; }

/* ADAPTIVE SETTINGS */
@media screen and (max-width: 1200px) {
  .header .header-banner {
    font-size: 16px; } }
@media screen and (max-width: 993px) {
  .header .header-banner {
    font-size: 11px; }

  .header .header-right div:first-child {
    font-size: 11px; }
    .header .header-right div:first-child img {
      max-width: 100%;
      height: 25px; }

  .header .header-right div:last-child input {
    height: 25px; }
  .header .header-right div:last-child button {
    height: 25px; }

  .top-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a {
    font-size: 16px; }

  .top-string {
    font-size: 10px; }

  .down-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a {
    font-size: 14px; } }
@media screen and (max-width: 768px) {
  .footer-contact {
    text-align: center; }

  .top-string {
    font-size: 14px; }

  .down-menu .navbar.navbar-default .collapse.navbar-collapse .nav.nav-justified li a {
    font-size: 16px; } }

/*# sourceMappingURL=style.css.map */
